body {
    background: #BDBDBD;
}
.img-walter-heading {
    height: 280px;
    background-image: url("https://comicstores.es/imagenes/4260250/426025007903.JPG");
    width: 280px;
    background-position: center;
}

.img-keyboard {
    background-image: url(../img/2.jpg);
    height: 280px;
    width: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}