<nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="#">&lt;Breathe Code /&gt;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-first_heading">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-contact">Contact</a>
        </li>
      </ul>
  </nav>