<div class="container-fluid bg-white p-5">
    <div class="row d-flex d-flex justify-content-center ">
        <div class="rounded-circle img-keyboard "></div>
        <div class="col-md-7  mx-0 px-0">
            <h2>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h1>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetus. Fusce dapibus, tellus
                    ac cursus commodo.</p>
        </div>       
    </div>
</div>
