<div class="container-fluid bg-light d-flex py-5 mx-0 w-100">
    <div class="col-3 px-0 ml-4 rounded-circle img-keyboard">
    </div>
    <div class="col-9 px-0 pr-5">
        <h2 class="mt-1">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h1>
            <p class="mb-5 pr-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetus. Fusce dapibus, tellus
                ac cursus commodo.</p>
    </div>
</div>