<div class="container-fluid bg-white p-5" id="anchor-first_heading">
    <div class="row d-flex justify-content-center ">
        
        <div class="col-md-7 mx-0 px-0 mr-5">
            <h2>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna augue, tincidunt sit
                    amet risus ac, blandit suscipit lectus. Nullam eu nisi id nibh maximus rhoncus. Nulla sit amet
                    lorem vel nisl semper porttitor. Proin mattis, nunc at fringilla interdum, neque felis lobortis
                    lectus, ut pretium augue mi nec lectus. In porta laoreet dolor, a porttitor metus commodo et.
                    Vivamus ac elit sed libero pretium sollicitudin non eu purus. Nulla in turpis viverra, venenatis
                    sapien eget, vestibulum lectus. Quisque sed magna sit amet dui vehicula tempor et eget ipsum.
                    Curabitur lorem nisi, blandit sed odio et, cursus ornare justo. Nulla eros velit, viverra vitae
                    euismod ut, mollis id risus. Aliquam erat volutpat.
                </p>
        </div>
        <div class="rounded-circle img-walter-heading mr-5"></div>    
    </div>
</div>